@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:400,500,600,700&display=swap');
/* Main CSS Start */
*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: 'Zilla Slab', serif;
	color: #888888;
	line-height:1.9;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 15px;
	font-weight: 700;
	color: #000;
	line-height:1.3;
}
a:focus, input:focus, teaxarea:focus, button:focus{outline: 0 solid;}
a:hover{
	text-decoration: none;
}
/* Main CSS Stop */
/* === Header Section CSS Start === */
.logo {
  font-size: 20px;
  font-weight: 700;
  margin-top: 13px;
}
.header-area a, .search-icon {
  color: #333;
}
.mainmenu ul {
  list-style: none;
  margin: 0;
}
.mainmenu ul li {
  display: inline-block;
  position: relative;
}
.mainmenu ul li a {
  display: block;
  padding: 20px;
}
.header-area {
  font-size: 16px;
  font-weight: 700;
}
.logo img {
  height: 40px;
  width: 100px;
}
.search-icon {
	display: inline-block;
	margin-top: 20px;
}
/* DropDown Menu CSS Start */
.mainmenu ul li ul {
  position: absolute;
  left: 0;
  top: 20px;
  width: 240px;
  background: #494d53;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  text-align: left;
}
.mainmenu ul li:hover ul {opacity: 1;visibility: visible;top: 50px;}
.mainmenu ul li ul li {display: block;}
.mainmenu ul li ul li a {padding-top: 15px;padding-bottom: 15px;}
.mainmenu ul li:hover > a {color: #22bbc0;}
.mainmenu ul li > a, .mainmenu ul li ul li > a {transition: .3s;}
.mainmenu ul li ul li:hover > a {background: #22bbc0;color: #fff;}
	/* Multilevel dropdown CSS */
.mainmenu ul li ul li ul {left: 240px;top: 0;}
.mainmenu ul li ul li:hover ul {left: 239px;top: 0;}
.mainmenu ul li:hover ul li ul {visibility: hidden;opacity: 0;}
.mainmenu ul li ul li:hover > ul {visibility: visible;opacity: 1;}
	/* Mega Menu Dropdown CSS*/
.mainmenu ul li.mega-menu {position: static;}
.mainmenu ul li.mega-menu ul ul{position: relative;left: 0;top: 0;}
.mainmenu ul li.mega-menu:hover ul ul {
  opacity: 1;
  visibility: visible;
  left: 0;
  top: 0;
  position: relative;
  z-index: 9;
  width: 100%;
}
.mainmenu ul li.mega-menu > ul {padding: 20px;width: 100%;}
.mainmenu ul li.mega-menu ul li a {padding-left: 0;}
.mainmenu ul li.mega-menu ul li a:hover {background: none;color: #23bbc0;}
.mainmenu ul li.mega-menu ul h5 {color: #22bbc0;}
.mainmenu ul li.mega-menu ul h5 i.fas {color: #fff;font-size: 16px;}
/* DropDown Menu CSS Stop */
/* === Header Section CSS Stop === */
/* === Slider Section CSS Start === */
.slide-bg-1{background-image: url(../img/slide-bg-1.jpg);}
.slide-bg-2{background-image: url(../img/slide-bg-2.png);}
.slide-bg-3{background-image: url(../img/slide-bg-3.jpg);}
.single-slide-item {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-color: #333;
}
.single-slide-item:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -1;
  opacity: 0.5;
}
.slide-text, .slide-text a {
  color: #fff;
}
.slide-text h2 {
  font-size: 55px;
  color: #fff;
}
.slide-text h2 span {
  font-weight: 300;
  font-style: italic;
  color: orange;
}
.video-btn {
  display: block;
  position: relative;
  margin: 30px 0;
}
.play-icon {
	background-color: #22bbc1;
	position: absolute;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -30px;
	height: 60px;
	width: 60px;
	line-height: 55px;
}
.boxed-btn {
	background-color: #22bbc0;
	font-weight: 700;
	padding: 10px 35px;
	display: inline-block;
	border-radius: 20px 5px;
	color: #fff;
	position: relative;
}
.boxed-btn i.fas {
	position: absolute;
	top: 19px;
	right: 21px;
}
.slide-text {
  font-size: 16px;
  padding: 160px 0;
}
	/* Header and slider adjust CSS Code*/
.header-area.header-absolute {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;
}
.header-area.header-absolute a,.header-absolute .search-icon {
  color: #fff;
}
	/* Owl Carousel CSS*/
.owl-carousel .owl-item .slide-text img {
	width: auto;
	display: inline-block;
} 	
		/* owl nav*/
.slider-area.owl-carousel .owl-nav button {
  position: absolute;
  left: 8%;
  color: #fff;
  top: 50%;
  font-size: 30px;
  line-height: 40px;
  margin-top: -20px;
  font-weight: 900;
  text-align: left;
}
.slider-area.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: 8%;
  text-align: right;
}
/* === Slider Section CSS Stop === */

/* === Promotion Section CSS Start === */
.section-padding {
  padding: 100px 0;
}
.single-promo-item {
  margin-top: 30px;
  text-align: center;
}
.single-promo-item h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
.promo-icon {
  font-size: 25px;
  color: #22bbc0;
  margin-bottom: 15px;
}
.space-90 {
  height: 90px;
}
.title-gallery {
  position: relative;
  height: 680px;
  margin-left: 30px;
}
.title-gallery img {
  border-radius: 5px;
  box-shadow: 3px 4px 9px #d4d4d4;
  position: relative;
  z-index: 1;
}
.title-gallery img:nth-child(2) {
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 2;
}
.title-gallery img:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 25px;
  z-index: 3;
}
/* === Promotion Section CSS Stop === */

/* === Service Section CSS Start === */
.services-area::before {
	background-image: url(../img/service-bg.jpg);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50.8%;
	content: "";
	background-size: cover;
	background-position: center;
	background-color: #ddd;
}
.single-service-item {
  position: relative;
  padding-left: 100px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: block;
  color: #888;
}
.service-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 85px;
  height: 100%;
  color: #22bbc0;
  font-size: 30px;
  text-align: center;
}
.service-icon-table {
  display: table;
  height: 100%;
  width: 100%;
}
.service-icon-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.single-service-item h3 {
  font-size: 20px;
}
.single-service-item:hover {
  background-color: #22bbc0;
  color: #fff;
}
.single-service-item:hover h3, .single-service-item:hover .service-icon {
  color: #fff;
}
.single-service-item:hover:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 5000%;
  height: 100%;
  background-color: #22bbc0;
}
.services-area {
  overflow: hidden;
  position: relative;
}
/* === Service Section CSS Stop === */

/* ===  Skill Progress Section CSS Stop === */
.single-skill-bar {
  text-align: center;
  margin-top: 50px;
}
.single-skillbar-inner{
	position: relative;
}
.skill-count-no {
  font-size: 48px;
  font-weight: 700;
  color: #333;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  line-height: 50px;
  margin-top: -25px;
}
.single-skill-bar h3 {
	margin-top: 25px;
}
/* ===  Skill Progress Section CSS Stop === */

/* ===  Call To Action Section CSS Stop === */
.section-bg-1{background-image: url(../img/cta-bg.jpg);}
.section-padding {
  background-size: cover;
  background-position: center;
}
.black-overlay, .black-overlay h1, .black-overlay .boxed-btn {
  color: #fff;
}
.black-overlay h1 {
	font-size: 30px;
}
.black-overlay {
  position: relative;
  z-index: 2;
}
.black-overlay:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #000;
  z-index: -1;
  opacity: .6;
}
.cta-btn .boxed-btn {
	margin-top: 42px;
}
/* ===  Call To Action Section CSS Stop === */

/* === Project Skills Section CSS Start === */
.space-70{height: 70px;}
.portfolio-bg-1{background-image: url(../img/project-1.png);}
.portfolio-bg-2{background-image: url(../img/project-2.jpg);}
.portfolio-bg-3{background-image: url(../img/project-3.jpg);}
.portfolio-bg-4{background-image: url(../img/project-4.jpg);}
.single-portfolio-item {
  height: 310px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  margin: 15px 0;
  box-shadow: 4px 4px 5px #f1f1f1;
}
.portfolio-hover {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.portfolio-hover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: -1;
  opacity: .5;
}
.portfolio-hover-table {
  display: table;
  height: 100%;
  width: 100%;
}
.portfolio-hover-tablecell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.portfolio-hover, .portfolio-hover a {
  color: #fff;
}
.portfolio-hover h4 {
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 0;
  color: orange;
}
.single-portfolio-item:hover .portfolio-hover {
  opacity: 1;
  visibility: visible;
}
.single-portfolio-item.large {
  height: 650px;
}
/* === Project Skills Section CSS Stop === */

/* === Team Card Section CSS Start === */
.team-list {
  margin-top: 70px;
}
.single-team-item {
  background: #fbfbfb;
  padding: 30px;
  text-align: center;
}
.owl-carousel .owl-item .single-team-item img {
  display: inline-block;
  width: 150px;
  height: 150px
}
.single-team-item img {
  border-radius: 50%;
}
.single-team-item h4 {
  font-size: 18px;
  margin: 30px 0 25px;
}
.single-team-item h4 span {
  display: block;
  font-size: 14px;
  color: #888;
  font-weight: normal;
  margin-top: 6px;
}
	/* Owl Carousel full with CSS */
.team-list.owl-carousel .owl-stage-outer {
  /*! overflow: inherit; */
}

	/* Owl Dots Code */
.team-list.owl-carousel .owl-dots button , .testimonial-list.owl-carousel .owl-dots button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #eee;
  display: inline-block;
  margin: 4px;
}
.team-list.owl-carousel .owl-dots, .testimonial-list.owl-carousel .owl-dots {
  text-align: center;
  margin-top: 30px;
}
.team-list.owl-carousel .owl-dots button.active, .testimonial-list.owl-carousel .owl-dots button.active {
  background: #22bbc8;
}
/* === Team Card Section CSS Stop === */

/* === Textimonial Section CSS Start === */
.testimonial-bg {
	background-image: url(../img/slide-bg-2.png);
	background-size: cover;
	background-position: center;
}
.testimonial-list {
  margin-top: 70px;
}
.single-testimonial-item {
  background: #fff;
  color: #000;
  padding: 30px;
  font-weight: 700;
  font-size: 16px;
  font-style: italic;
  text-align: center;
}
.testimonial-icon {
  color: #22bbc0;
  font-size: 20px;
  margin-bottom: 20px;
}
.single-testimonial-item h5 {
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
}
.single-testimonial-item h5 span {
  color: orange;
  display: block;
  font-weight: normal;
  font-size: 12px;
  margin-top: 4px;
}
.testimonial-bg h2 {
  color: #fff;
}
.testimonial-bg p {
}
/* === Textimonial Section CSS Stop === */

/* === Company logo Section CSS Start === */
.logo-carousel.owl-carousel .owl-item .single-logo-item img {
  width: auto;
  margin: 0 auto;
}
.single-logo-item {
  display: table;
  width: 100%;
  height: 70px;
}
.logo-item-tablecell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* === Company logo Section CSS Stop === */

/* === Footer Section CSS Start === */
.footer-area {
  background-color: #f5f5f5;
  padding: 80px 0;
}
.footer-menu ul, .footer-right-menu ul {
  list-style: none;
  font-weight: 700;
  line-height: 2;
  margin-top: 10px;
}
.footer-menu ul li a, .footer-right-menu ul li a {
  color: #222;
}
.footer-logos img {
  width: 100px;
  height: 40px;
}
.footer-logos p {
	font-size: 15px;
	margin-top: 10px;
}
.footer-follow h3 {
  font-size: 20px;
  margin-top: 20px;
}
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid #333;
  text-align: center;
  margin-right: 5px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 40px;
  color: #000;
}
.social-links a:hover {
  background-color: #22bbc0;
  color: #fff;
  border-color: #22bbc0;
}
/* === Footer Section CSS Stop === */

/*===================  Home Page CSS Code Start  =====================*/

/* === Hero-area CSS Start === */
.hero-area {
	background-image: url(../img/hero-bg.png);
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	padding-top: 180px;
	padding-bottom: 130px;
}
.hero-text {
  font-size: 16px;
  margin-top: 120px;
}
.hero-text h2 {
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 22px;
}
.register-now-form {
  background: #fff;
  padding: 60px;
  border-top: 10px solid #22bac0;
}
input, button, textarea {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
}
input[type="submit"], button[type="submit"] {
  width: auto;
  border: none;
  background-color: #22bbc0;
  color: #fff;
  font-weight: ;
}
.register-now-form p {
  margin-bottom: 20px;
}
.register-now-form h3 {
  margin-top: -10px;
  font-size: 22px;
  margin-bottom: 50px;
}
.register-now-form p:last-child {
  margin-bottom: 0;
}
.register-now-form input[type="submit"] {
  width: 100%;
}
.register-now-form h3 span {
  color: orange;
}
/* === Hero-area CSS Stop === */
/* === Register Support Section Start === */
.section-padding.section-gray-bg {
  background-color: #fbfbfb;
}
/* === Register Support Section Stop === */
/* === Register plan Section Start === */
.ticker-text {
  background: #2f2f2f;
  color: #fff;
  display: inline-block;
  padding: 5px 30px;
  border-radius: 50px;
  margin-bottom: 10px;
}
.grow-height {
	height: 550px;
}
/* === Register plan Section Stop === */
/* === Register Services Section Start === */
.no-top-padding {
	padding-top: 0;
}
.margin-80 {
  margin: 80px 0;
}
.service-box .service-icon {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 45px;
  height: 70px;
  line-height: 70px;
}
.service-box h3 {
  font-size: 20px;
  margin: 20px 0;
}
.service-box {
  margin-bottom: 50px;
  padding: 30px 20px;
}
.service-box:hover {
  background: #fafafa;
}
/* === Register Services Section Stop === */
/* === Expert Team Section Start === */
.margin-20 {
  margin: 20px 0;
}
.theme-2 .single-team-item {
  box-shadow: 0 0 8px #f1f1f1;
  margin: 4px;
  border-radius: 5px;
  border: 1px solid transparent;
 }
.theme-2 .single-team-item:hover {
  box-shadow: 0 0 0;
  border: 1px solid #22bbc0;
}
/* === Expert Team Section Stop === */
/* == Call To Action Section Start == */
.section-bg-2{background-image: url(../img/section-bg-2.jpg);}
/* == Call To Action Section Stop == */
/* == Our Blog Section Start == */
.margin-bottom-80 {
  margin-bottom: 80px;
}
.single-blog-box {
  box-shadow: 0 0 5px #f1f1f1;
  padding: 27px;
}
.single-blog-box a {
  color: #22bbc0;
}
.single-blog-box i.fas {
  padding-left: 5px;
}
.single-blog-box h3 {
  font-size: 18px;
}
/* == Our Blog Section Stop == */
/* == Footers section Start == */
.footer-area.dark-bg {
  background-color: #131313;
}
.footer-area.dark-bg, .footer-area.dark-bg a, .footer-area.dark-bg h3 {
  color: #fff;
}
.dark-bg .social-links a {
  border-color: #fff;
}
/* == Footers section Stop == */
/* ===================About US Page CSS Code Start ========================*/
/* == Breadcromb Section Start == */
.breadcromb-bg-1{
	background-image: url(../img/breadcromb-bg-1.jpg);
	background-size: cover;
    background-position: center;
}
.breadcromb-area {
  font-size: 14px;
  padding-top: 180px;
  padding-bottom: 130px;
}
.breadcromb-area, .breadcromb-area a {
  color: #fff;
}
.breadcromb-area h2 {
  font-size: 36px;
  color: #fff;
}
.breadcromb-area i.fas {
  padding: 0 10px;
}
/* == Breadcromb Section Stop == */
/* == Register Support Section Start == */
.section-bg-3{background-image: url(../img/section-bg-3.png);}
.black-overlay h4 {
  color: #fff;
}
.service-icon-support {
  font-size: 40px;
  margin-bottom: 15px;
}
.service-icon-support img {
  max-width: 50px;
}
/* == Register Support Section Stop == */
/* == Call To Action Section Start == */
.section-bg-4{background-image: url(../img/section-bg-4.jpg);}
/* == Call To Action Section Stop == */

/* ==================== Services Page CSS code Start   =========================*/
.breadcromb-bg-2 {
	background-image: url(../img/breadcromb-bg-2.jpg);
	background-size: cover;
	background-position: center;
}
/* ==================== Single Services Page CSS code Start   =========================*/
.breadcromb-bg-3 {
	background-image: url(../img/breadcromb-bg-3.jpg);
	background-size: cover;
	background-position: center;
}
.cta-btn .boxed-btn {border-radius: 5px;}
/* Single Services Section Start */
.nav_menu ul {
  list-style: none;
  margin: 0;
}
.widget {
  background: #fafafa;
  padding: 30px;
  margin-bottom: 30px;
}
.widget .boxed-btn {
  border-radius: 0;
  width: 100%;
  text-align: center;
  padding: 12px;
  margin-top: 25px;
}
.widget.nav_menu {
  padding: 0;
  background-color: transparent;
}
.nav_menu ul li a {
  background: #fafafa;
  display: block;
  margin-bottom: 10px;
  padding: 15px 30px;
  color: #333;
  font-weight: 700;
}
.nav_menu ul li a:hover {
  background: #22bac0;
  color: #fff;
}
.service-description h3 {
  margin-top: 40px;
  color: #333;
}
.service-description {
  padding-left: 20px;
}
/* Single Services Section Stop */
/* ==================== Portfolio Page CSS code Start   =========================*/
.portfolio-filter {
  margin: 0 0 50px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
  text-align: center;
}
.portfolio-filter li {
  display: inline-block;
  padding: 10px 30px;
  cursor:pointer;
}
.portfolio-filter li.active{color: #22babf;}
.portfolio-bg-5{background-image: url(../img/project-5.jpg);}
.portfolio-bg-6{background-image: url(../img/project-6.jpg);}
.portfolio-bg-7{background-image: url(../img/project-7.jpg);}
.portfolio-bg-8{background-image: url(../img/project-8.jpg);}

/* ==================== Single Portfolio Page CSS code Start   =========================*/
.breadcromb-bg-3{background-image: url(../img/breadcromb-bg-3.jpg);}
.space-45{height: 45px;}
.single-projects {font-size: 14px;line-height: 1.8;}
.single-projects h3 {font-size: 22px;}

/* ==================== Team Page CSS code Start   =========================*/
.single-team img {width: 150px;height: 150px;}
.section-bg-5{background-image: url(../img/breadcromb-bg-2.jpg);}

/* ==================== Testimonial Page CSS code Start   =========================*/
.testimonial-area .single-testimonial-item {box-shadow: 0 0 4px #ddd;}

/* ==================== FAQS Page CSS code Start   =========================*/
.breadcromb-bg-4 {
	background-image: url(../img/breadcromb-bg-4.jpg);
	background-size: contain;
	background-position: center;
}
/* Faqs section start */
.faqs .card-header {
  background: none;
  border: none;
  text-align: left;
  padding: 0;
}
.faqs .card {
  border: none;
  background: #fbfbfb;
  margin-bottom: 13px;
  box-shadow: 0 0 4px #e1e1e1;
}
.faqs .btn.btn-link {
	text-align: left;
	color: #333;
}
.faqs .btn-link:hover {
  text-decoration: none;
}
.faqs .btn-link {
  text-decoration: none;
}
.faqs .card-header button {
  display: block;
  padding: 16px;
  position: relative;
}
.faqs .card-header button:after {
  content: "+";
  position: absolute;
  right: 20px;
  width: 26px;
  height: 26px;
  background: #22bbc0;
  text-align: center;
  color: #fff;
  font-size: 27px;
  line-height: 23px;
  top: 50%;
  margin-top: -15px;
  border-radius: 5px;
}
.faqs .card-header button[aria-expanded="true"]::after {
  content: "-";
}
/* Faqs section stop */
/* ==================== Blog Page CSS code Start  =========================*/
.breadcromb-bg-5 {
	background-image: url(../img/breadcromb-bg-5.jpg);
	background-size: cover;
	background-position: center;
}
.blog-thumb-1{background-image: url(../img/womens.jpg);}
.blog-thumb-2{background-image: url(../img/blog-bg-2.jpg);}
.blog-thumb-3{background-image: url(../img/title-bg-2.jpg);}
.blog-thumb-4{background-image: url(../img/title-bg-3.jpg);}
.blog-thumb-5{background-image: url(../img/blog-bg-1.jpg);}
.blog-thumb {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-color: #ddd;
}
.single-blog-post {
  margin-bottom: 30px;
}
.post-date {
  color: #777777;
  text-transform: uppercase;
}
.blog-description h3 {
  font-size: 20px;
  margin-top: 10px;
}
.blog-description a {
  color: #22bbc0;
}
.blog-description {
  padding-top: 20px;
  line-height: 1.5;
}
	/* Pagination CSS */

.pagination li a {
  border: none;
  background: #f9f9f9;
  margin-right: 10px;
  font-size: 18px;
  color: #333;
  border-radius: 50%;
  display: block;
  height: 50px;
  width: 50px;
  line-height: 34px;
  text-align: center;
  font-weight: 700;
}
ul .page-item:first-child .page-link,ul .page-item:last-child .page-link  {
  border-radius: 50%;
}
	/* Search Widget CSS */
.widget.search-widget {
  padding: 0;
  background: none;
  box-shadow: 0 0 5px #ddd;
}
.widget-search input {
  border: none;
  width: 80%;
  padding: 15px;
}
.widget-search button {
  float: right;
  background: none;
  color: #333;
  padding: 15px;
}
.widget-search {
  overflow: hidden;
}
     /* Recent News CSS */
.thumb-post {
  margin: 0;
  list-style: none;
  overflow: hidden;
  margin-top: 30px;
}
.thumb-post li {
  border-bottom: 1px solid #efefef;
  margin-bottom: 30px;
  padding-bottom: 15px;
}
.thumb-post li img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
img.alignleft {
  float: left;
  margin-right: 15px;
}
.thumb-post a {
  color: #333;
}
.thumb-post h3 {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.5;
}
.thumb-post .post-date {
  font-size: 10px;
}
.thumb-post li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* ==================== Single Blog Page CSS code Start  ========================= */
.section-bg-6 {
	background-image: url(../img/section-bg-6.jpg);
	background-size: cover;
	background-position: center;
}
.post-featured-content {margin-bottom: 70px;}
.article-title {
  font-size: 24px;
  margin-bottom: 30px;
}
.entry-content p {margin-bottom: 20px;}
blockquote {
  font-size: 16px;
  background: #fbfbfb;
  margin: 0 7% 20px;
  padding: 30px 60px;
  color: lightseagreen;
  line-height: 1.8;
  text-align: justify;
}
.entry-content {margin-bottom: 70px;}
.post-share {margin-bottom: 70px;}
.post-share a {
  background-color: #265ba9;
  color: #fff;
  padding: 10px 30px;
  border-radius: 50px;
  margin-right: 10px;
  display: inline-block;
}
.post-share a i.fab {padding-right: 5px;}
.post-share a.tweet-share-btn {background: #27c8cf;}
.post-share a.inst-share-btn {background: #e55;}
.author-details {margin-bottom: 70px;}
.author-details h4 {
  font-size: 18px;
  margin-bottom: 0;
}
.author-details p {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 5px;
}
.comment-title, .comment-form h2 {
  font-size: 24px;
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 8px;
}
.comment-title::after, .comment-form h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 51px;
  background: #0dbbc0;
}
.comments {margin: 0;list-style: none;}
.comments li {
  background: #fbfbfb;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  padding-left: 130px;
}
.comment-author-img {
  position: absolute;
  left: 30px;
  top: 30px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.comment-meta h4 {
  margin-bottom: 5px;
  font-size: 16px;
}
.comment-meta {
  font-size: 12px;
  margin-bottom: 16px;
  position: relative;
}
.comment-reply-btn {
  float: right;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin-top: -20px;
}
.comment p {line-height: 1.5;}
.comment-list {margin-bottom: 70px;}
.comment-form input[type="text"], .comment-form input[type="url"], .comment-form input[type="email"], .comment-form textarea {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}
.comment-form textarea {height: 150px;}
.comment-form input[type="submit"] {
  padding: 12px 30px;
  border-radius: 5px;
}
/* ==================== Contact Page CSS code Start  ========================= */ 
.contact-box {
	background-image: url(../img/contact-us-bg.jpg);
	background-size: cover;
	background-position: center;
	background-color: #ddd;
	position: relative;
	z-index: 1;
	padding: 80px 65px;
}
.contact-box:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #112e2f;
  z-index: -1;
  opacity: .8;
}
.contact-box, .contact-box h3, .contact-box h2 {
  color: #fff;
}
.contact-box h2 {
  font-size: 28px;
  margin-bottom: 40px;
}
.contact-box h3 {
  font-size: 20px;
}
.single-contact-info {
  margin-bottom: 30px;
}
.single-contact-info:last-child {
  margin-bottom: 0;
}
.contact-form h2 {
  font-size: 28px;
  margin-bottom: 40px;
}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form input[type="tel"] {
  width: 100%;
  margin-bottom: 15px;
}
.contact-form textarea {
  height: 200px;
}
.contact-form input[type="submit"], .contact-form button[type="submit"] {
  color: #fff;
  padding: 10px 30px;
  border-radius: 3px;
}
.contact-form {
  padding: 50px 0;
  padding-left: 20px;
}
.section-padding.gmapss .container-fluid {padding: 0;}
/* ==================== Error Page CSS code Start  ========================= */ 
.section-padding.errors h2 {
  font-size: 60px;
  color: #999;
}
.section-padding.errors p {
  color: #333;
  line-height: 1.8;
}
.section-padding.errors .boxed-btn {
  border-radius: 3px;
  margin-top: 10px;
  font-weight: normal;
}